<h3>Entry List</h3>
<div class="card-columns">
  <% entries.forEach(entry => {%>
  <div class="card">
    <div
      class="imageupload"
      style="background-image: url('./uploads/<%= entry.entryImage %>')"
    ></div>
    <div class="card-body">
      <p class="date"><%= entry.uploadDate %></p>
      <h1 class="card-title"><%= entry.title %></h1>
      <p class="card-text"><%= entry.description %></p>
      <p class="uploadedBy">Uploaded By <%= entry.creator %></p>
      <div class="edit-delete">
        <form
          action="/delete/<%=entry._id%>/?method=delete"
          method="post"
        ></form>
      </div>
    </div>
  </div>
  <% })%>
</div>
